<%- include('../partials/header') %>
    <h1>New SKill</h1>

    <form action="/skills" method="POST">
        <label>Skill Name</label>
        <input type="text" name="skill">
        <input type="submit" value="Add Skill">
    </form>

    <a href="/skills">Back to List</a>
</body>
</htnml>